.menu-frame {
  width: 100%;
  height: 60px;
}

.elipse {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 50% / 40%;
  display: block;
  margin: 0 auto;
}

.facebook-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

header {
  background-color: #333;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu li a:hover, .menu li a.active {
  background-color: red;
}

.logo-container {
  background-color: #008000;
  padding: 10px;
  text-align: center;
}

.logo-container img {
  height: 80px;
}

main {
  text-align: center;
  padding: 30px;
}

.evento img {
  width: 80%;
  max-width: 700px;
  border-radius: 30px;
}

.video-container {
  margin-top: 20px;
}

footer {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown > a {
  background-color: red;
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}
